body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, red, blue);
}

.blockCards {
    display: none;
}

.tab-panes {
    text-align: center;
    margin-top: 25px;
}

.tab-panes img {
    width: 50%;
    height: 50%;
    box-shadow: 10px 10px 40px 20px #0000001A;
    border-radius: 50px;
}

.clear-button button {
    float: right;
    margin: -50px 285px 0px 0px;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    color: #FFFFFF;
    background-color: inherit;
    border: #FFFFFF solid 3px;
    border-radius: 18px;
    box-shadow: 10px 10px 40px 20px #0000001A;

    transition: color 0.3s linear;
    transition: border 0.2s linear;

    font-family: 'Playpen Sans', cursive;
}

.cards button:hover {
    color: black;
    border: #000 solid 3px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs button {
    margin: 25px 50px;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    color: #FFFFFF;
    background-color: inherit;
    border: #FFFFFF solid 3px;
    border-radius: 18px;
    box-shadow: 10px 10px 40px 20px #0000001A;

    transition: color 0.3s linear;
    transition: border 0.2s linear;

    font-family: 'Playpen Sans', cursive;
}

.tabs button:hover {
    color: black;
    border: #000 solid 3px;
}