* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /*!font-family: "Neucha", cursive;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}