body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  #timer {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }