/**{
    background-color: rgb(255, 253, 253);
}*/

ul{
    list-style: none;
    text-align: center          ;
    background-color: black;
    overflow: hidden;
    border-bottom: 1px dashed blue;
}

li{
    color: black;
    border-left: 1px dashed blue;
    float: right;
}

li>a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}