* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

button {
    padding: 12px 24px;
    color: #ff0000;
    font-size: 18px;
    font-weight: 900;
    border: none;
    background-color: inherit;
    transition: all .25s linear;
}

button:hover {
    border: 3px double #ff0000;
    box-shadow: 0px 0px 100px #ff0000;
    text-shadow: 0px 0px 25px #ff0000;
    transform: scale(1.1);
}