.first {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.second {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.third {
    width: 200px;
    height: 200px;
    background-color: fuchsia;
}

.count {
    font-size: 24px;
    font-weight: bold;
    animation: counter 2s ease-in-out forwards;
}

@keyframes counter {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}