*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg, royalblue 65%, darkorange 35%);
    font-family: 'ZCOOL KuaiLe', cursive;
}
main{
    width: 60%;
    margin: 150px auto;
}
article{
    background-color: #fff;
    padding: 28px 32px;
    border-radius: 16px;
    box-shadow: 8px 8px darkorange, 16px 18px royalblue;
}

.title{
    font-size: 64px;
    color: darkorange;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 3px 4px royalblue, 4px 5px darkorange;
    width: fit-content;
    background: linear-gradient(transparent 60%, rgba(255,140,0, 0.5)40%);
    background-size: 0%;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.title:hover{
    background-size: 100%;
}

.subtitle{
    font-weight: bold;
    color: darkorange;
    margin: 24px 0;
    text-shadow: 2px 2px 1px royalblue;
}

 section{
     margin-top: 48px;
     background-color: white;
     padding: 12px 32px;
     border-radius: 16px;
     box-shadow: 8px 8px darkorange, 16px 18px royalblue;
    
 }

 .sneakers-container{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     gap: 20px;
 }
 .sneaker-container{
      width: 280px;
     height: 550px;
     border-radius: 12px;
     box-shadow: 12px 12px royalblue, 0 0 16px #EDFAFA;
      margin-bottom: 32px;  
    
 }

 .sneaker-name{
     padding-left: 16px;
     font-weight: bold;
     font-size: 24px;
     color: royalblue;
     text-shadow: 2px 2px darkorange;
 }

 .sneaker-price{
     padding-left: 16px;
     margin-top: 8px;
     font-size: 18px;
     font-weight: bold;
     color: darkorange;
     text-shadow: 2px 2px royalblue;
 }

 .img-container{
     display: flex;
     height: 70%;
     border-radius: 12px 12px 0 0;
     background-size: cover !important;
     background-position: center !important;
     background-repeat:no-repeat !important;
     margin-bottom: 8px;     
 }

 .img1{
     background: url(../img/sneakers/sneakers4.jpg);
 }
 .img2{
    background: url(../img/sneakers/sneakers3.jpg);
}
.img3{
    background: url(../img/sneakers/sneakers1.jpg);
}
.img4{
  background: url(../img/sneakers/sneakers2.jpg);
}

button{
    width: 260px;
    padding: 12px;
    box-shadow: 3px 3px black;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    margin: 16px 10px 4px 10px;
    text-shadow: 2px 2px white;
    background-color: darkorange;
    font-family: 'ZCOOL Kuaile', cursive;
    color: royalblue;

}